[user]
	name = ???
	email = ???
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = sublime -w
[alias]
	squash = !git_squash
	pr = !git_pr
	cleanup = !git_cleanup
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.gitmessage
	verbose = true
